* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans';
    box-sizing: border-box;
    font-size: 14px;
}

.container {
    display: flex;
    position: relative;
    flex-wrap: nowrap;
    min-height: 95vh;
}

/*Menu izq*/

img {
    display: flex;
    position: relative;
    width: 100%;
    height: 22%;
}

.menu {
    display: flex;
    position: relative;
    flex-direction: column;
    background: #34485D;
    width: 100%;
    height: 100%;
    float: left; /* Alinea la columna del menú a la izquierda */
}

.button1 {
    background: #34485D;
    color: white;
    display: flex;
    position: relative;
    align-items: center;
    border: 0;
    width: 100%;
    height: 8%;
    padding-left: 35%;
}

.menu .button1:focus,
.menu .button1.activado {
    color: #13c9c9;
    background: #102132;
}

/*Menu izq -> boton perfil*/

.button2 {
    background: #34485D;
    color: white;
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    height: 8%;
    padding-left: 32%;
    top: 0;
    margin-top: auto;
}

.button2:focus,
.activado {
    color: #13c9c9;
    background: #102132;
}
/*Menu izq -> boton contacto y idioma*/

.config {
    display: flex;
    position: relative;
    font-weight: bold;
    justify-content: center;
}

.button3,
.button4 {
    background: #508FCF;
    color: white;
    line-height: 22px;
    width: 50%;
    height: 198%;
}

.button3:focus,
.button4:focus,
.activado {
    color: #13c9c9;
    background: #102132;
}

/*Menu Der -> formulario*/

.formulario {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
    justify-content: flex-end; /* Alinea la columna del formulario a la derecha */
    width: 79%; /* Define el ancho de la columna del formulario */
    padding-top: 1%;
}

.titulo {
  display: flex;
  justify-content: center;
  width: 95%;
  height: auto;
  font-weight: 800;
  font-size: 24px;
  color: #000000;
  text-align: center;
  padding-left: 5%;
}


.filtro {
    margin-left: 5%;
}

.container1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    flex-wrap: wrap;
}

.container1 .box:nth-child(n+3) {
    display: none;
}

.container1 .box[data-proyecto="proyecto3"] {
    display: flex;
}
.label-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  font-weight: 800;
  font-size: 24px;
  color: #000000;
  text-align: center;
}

.hidden {
  display: none;
}


.box {
    display: flex;
    position: relative;
    background-color: #FFFFFF;
    width: 100%;
    height: 20%;
    padding-left: 5%;
    flex-wrap: wrap;
}

.sub-box  {
    display: flex;
    position: relative;
    background-color: #FFFFFF;
    height: 100%;
    width: 100%;
    padding: 1%;
    margin-left: 0%;
    margin-right: 5%;
    flex-wrap: nowrap;
    flex-direction: row;
    font-size: 8px;
}

.descripcion{
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: #FFFFFF;
    width: 20%;
    border-radius: 5px;
    border: 1px solid #000000;
    padding: 1%;
    margin: 0%;
    flex-wrap: wrap;
    align-items: baseline;
}

.formulario__btn {
    font-family: 'Open Sans';
    background: #5CAE8C;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    transition: 0.1s ease all;
    border-radius: 5px;
    border: none;
    width: 14%; /* Ajusta el ancho según tus necesidades */
    height: 15%;
    margin-left: auto; /* Ajusta el margen según tus necesidades */
    margin-right: 7.5%;
    margin-top: 0%;
}

.formulario__btn:hover {
    cursor: pointer;
    box-shadow: 3px 0 30px #102132;
}

.hidden {
    display: none;
}

/*video*/

#video-container {
    width: 75%;
    background: #D2EEE2;
    border-radius: 5px;
    margin: 5px;
}

.img,
.imagen-video {
    display: flex;
    position: relative;
    width: 5%;
    height: 24%;
    left: 50%;
    top: 45%;
    background: #D2EEE2;
}

.footer {
    text-align: center;
    color: black;
    font-weight: bold;
    width: 120%;
}

.swal2-styled.swal2-confirm {
    border: 0;
    border-radius: 0.25em;
    background: initial;
    background-color: rgb(51, 72, 93);
    color: #fff;
    font-size: 1em;
}

i.ti.ti-user-circle,
i.ti.ti-briefcase {
    font-size: 150%;
}

i.ti.ti-home,
i.ti.ti-logout,
i.ti.ti-language {
    font-size: 165%;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .main-container main {
    flex: 0 0 80%; /* Ajusta el tamaño del formulario según tus necesidades */
    padding: 20px;
  }
  